{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Контакты{% endblock %}

{% block main_style %}
{% endblock %}

{% block custom_link %}{% endblock %}

{% block content %}
    <h1 class="center_text" style="padding-top: 30px;">Контакты</h1>
    <br>
    <h3 class="center_text">На этой странице вы можете ознакомиться с нашими контактами</h3>
    <br>
    <p style="font-weight: 600;" class="center_text">Наши социальные сети:</p>
    <p class="center_text">Телеграмм: <a href="#"> kuponator</a></p>
    <p class="center_text">ВКонтакте: <a href="#"> kuponator</a></p>
    <p class="center_text">Ватсапп: <a href="#"> kuponator</a></p>
<div class="container" style="max-width: 1000px;">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad1a27b98c7967008f62921a171fc4ff4e548b63f462b8a0433a1acfaf0b68887&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}