{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}
{% block main_style %}
background: url('{% static 'main/img/photo.jpg' %}') no-repeat center / cover;
{% endblock %}

{% block content %}

<div class="contaner" style="color: white; text-align: center; padding-top:30px;">
    {% if user.is_authenticated %}
        <p class="nav-link">Ваш имейл: {{ user }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Выйти из аккаунта</button>
        </form>
        <div class="container" style="margin-top: 15px;">
            {% if baskets %}
                {% for basket in baskets %}
                    <a href="{% url 'kupon_detail' basket.products.id %}" class="nav-link" style="margin: 0 auto; width: 70%;max-width: 400px; min-height: 155px;">
                        <div class="border border-1 alert bg-dark" style=" max-width: 400px; min-height: 155px;margin-left: 10px;">
                            <h3>{{ basket.products.title }}</h3>
                            <p>{{ basket.products.description }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <h4>Корзина пуста</h4>
            {% endif %}
        </div>

    {% else %}
        <a href="{% url 'login' %}" class="btn btn-success">Войти в аккаунт</a>
        <a href="{% url 'register' %}" class="btn btn-success">Создать аккаунт</a>
    {% endif %}
</div>
{% endblock %}